@use "./base.scss";

// Side-by-side layout
.side-by-side {
    display: flex;
    gap: 1rem;

    > div {
        flex: 1; // Equal column width
        padding: 0.5rem;

    }

    // Responsive layout: stack columns on small screens
    @media (max-width: 768px) {
        flex-direction: column;

        > div {
            margin-bottom: 1rem; // Add spacing between stacked items
        }
    }
}
